@using BusinessLayer.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model List<ClubAd>

@foreach (var ad in Model)
{
    <div class="ad">
        <h3>@ad.Title</h3>
        <p>@ad.Description</p>
        <p>Спорт: @ad.Sport</p>
        <p>Позиция: @ad.SearchedPosition</p>
        <p>Кой крак: @ad.SearchedStrongFoot</p>
        <p>Дата: @ad.CreatedAt.ToString("dd.MM.yyyy")</p>

        @if (SignInManager.IsSignedIn(User))
        {
            var currentUser = await UserManager.GetUserAsync(User);

            if (currentUser is Club)
            {
                <a asp-action="Edit" asp-route-id="@ad.Id" class="btn btn-warning">Edit</a>
                <a asp-action="Details" asp-route-id="@ad.Id" class="btn btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@ad.Id" class="btn btn-danger">Delete</a>
            }
            else if (currentUser is Athlete)
            {
                <a asp-action="Details" asp-route-id="@ad.Id" class="btn btn-info">Details</a>
            }
        }

    </div>
}
