@model BusinessLayer.Entities.ClubAd

@{
    ViewData["Title"] = "Edit";
}


<style>

    .details-container {
        background: rgba(0, 0, 0, 0.6); /* Черен с 60% прозрачност */
        border-radius: 20px; /* Заоблени ъгли */
        padding: 30px; /* Вътрешен отстъп */
        color: white; /* Бял текст за контраст */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Лека сянка */
        backdrop-filter: blur(8px); /* Замъгляване на фона */
    }

    .card-body dt {
        color: white;
    }

    .card-body dd {
        color: white;
    }

</style>

<script>

    function OnLoad() {
        const selected = document.querySelectorAll('[selected="selected"]');
        selected.forEach((item) => { item.removeAttribute('selected') });
    }



    function OnSportChange() {

        const position = document.getElementById('SearchedPosition');

        var sport = document.getElementById('Sport');
        var currentSport = sport.options[sport.selectedIndex].value;

        position.disabled = false;

        position.innerHTML = '';

        if (currentSport === 'Football') {
            position.innerHTML += '<option value="Goalkeeper">Goalkeeper</option>';
            position.innerHTML += '<option value="CentralBack">Center Back</option>';
            position.innerHTML += '<option value="LeftBack">Left Back</option>';
            position.innerHTML += '<option value="RightBack">Right Back</option>';
            position.innerHTML += '<option value="CentralDefensiveMidfielder">Central Defensive Midfielder</option>';
            position.innerHTML += '<option value="CentralMidfielder">Central Midfielder</option>';
            position.innerHTML += '<option value="CentralAtackingMidfielder">Central Atacking Midfielder</option>';
            position.innerHTML += '<option value="LeftMidfielder">Left Midfielder</option>';
            position.innerHTML += '<option value="RightMidfielder">Right Midfielder</option>';
            position.innerHTML += '<option value="Striker">Striker</option>';
            position.innerHTML += '<option value="LeftWinger">Left Winger</option>';
            position.innerHTML += '<option value="RightWinger">Right Winger</option>';
        }
        if (currentSport === 'Basketball') {
            position.innerHTML += '<option value="PointGuard">Point Guard</option>';
            position.innerHTML += '<option value="ShootingGuard">Shooting Guard</option>';
            position.innerHTML += '<option value="SmallForward">Small Forward</option>';
            position.innerHTML += '<option value="PowerForward">Power Forward</option>';
            position.innerHTML += '<option value="Center">Center</option>';
        }
        if (currentSport === 'Volleyball') {
            position.innerHTML += '<option value="Setter">Setter</option>';
            position.innerHTML += '<option value="OppositeHitter">Opposite Hitter</option>';
            position.innerHTML += '<option value="RightSideHitter">Right SideHitter</option>';
            position.innerHTML += '<option value="LeftSideHitter">Left Side Hitter</option>';
            position.innerHTML += '<option value="MiddleBlocker">Middle Blocker</option>';
            position.innerHTML += '<option value="Libero">Libero</option>';
        }
        if (currentSport === 'HockeyOnIce') {
            position.innerHTML += '<option value="Goaltender">Goaltender</option>';
            position.innerHTML += '<option value="LeftDefenseman">Left Defenseman</option>';
            position.innerHTML += '<option value="RightDefenseman">Right Defenseman</option>';
            position.innerHTML += '<option value="Center">Center</option>';
            position.innerHTML += '<option value="LeftWing">Left Wing</option>';
            position.innerHTML += '<option value="RightWing">Right Wing</option>';
        }
        if (currentSport === 'HockeyOnGrass') {
            position.innerHTML += '<option value="GoalKeeper">GoalKeeper</option>';
            position.innerHTML += '<option value="CenterBack">CenterBack</option>';
            position.innerHTML += '<option value="Fullback">Fullback</option>';
            position.innerHTML += '<option value="Midfielder">Midfielder</option>';
            position.innerHTML += '<option value="Forward">Forward</option>';
        }
    }
</script>


<div class="details-container">

    <div class="card-header bg-primary text-white text-center rounded-3">
        <h2>Редактиране на обява</h2>
    </div>

    <div class="card-body p-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.Title)</label>
                <div class="col-sm-8">
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.Sport)</label>
                <div class="col-sm-8">
                    <select id="Sport" name="Sport" class="form-control" onchange="OnSportChange()">
                        <option value="">Избери спорт</option>
                        <option value="Football">Футбол</option>
                        <option value="Basketball">Баскетбол</option>
                        <option value="Volleyball">Волейбол</option>
                        <option value="HockeyOnIce">Хокей на лед</option>
                        <option value="HockeyOnGrass">Хокей на трева</option>
                    </select>
                    <span asp-validation-for="Sport" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.SearchedPosition)</label>
                <div class="col-sm-8">
                    <select asp-for="SearchedPosition" id="SearchedPosition" class="form-control" disabled>
                        <option value="">-- Избери търсена позиция --</option>
                    </select>
                    <span asp-validation-for="SearchedPosition" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.SearchedStrongFoot)</label>
                <div class="col-sm-8">
                    <select asp-for="SearchedStrongFoot" class="form-control" asp-items="ViewBag.SearchedStrongFoot">
                        <option value="">-- Избери търсен силен крак/ръка --</option>
                    </select>
                    <span asp-validation-for="SearchedStrongFoot" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.MinimumAge)</label>
                <div class="col-sm-8">
                    <input asp-for="MinimumAge" class="form-control" />
                    <span asp-validation-for="MinimumAge" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.MaximumAge)</label>
                <div class="col-sm-8">
                    <input asp-for="MaximumAge" class="form-control" />
                    <span asp-validation-for="MaximumAge" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.Description)</label>
                <div class="col-sm-8">
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <input type="hidden" asp-for="UserId" />

            <div class="text-center">
                <button type="submit" class="btn btn-primary">💾 Запази</button>
                <a asp-action="Index" class="btn btn-secondary">⬅️ Обратно към списъка с обяви</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
