@model IEnumerable<BusinessLayer.Entities.ClubAd>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@using BusinessLayer.Entities
@using Microsoft.AspNetCore.Identity
    @inject SignInManager<User> SignInManager
    @inject UserManager<User> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var roles = user != null ? await UserManager.GetRolesAsync(user) : new List<string>(); // Проверка за null
}

<h1 class="text-center mb-4">Club Ads</h1>
@if (!roles.Contains("Athlete")) // Само ако не е Athlete, показваме бутона за нова обява
{
    <div class="d-flex justify-content-between mb-3">
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchedPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchedStrongFoot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimumAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SearchedPosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SearchedStrongFoot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
                @if (!roles.Contains("Athlete")) // Само ако не е Athlete, показваме бутонite
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Преглед на обява</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                }
                else
                {
                    <td><a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Преглед на обява</a></td>
                }
        </tr>
}
    </tbody>
</table>
