@model BusinessLayer.Entities.User
@using BusinessLayer.Entities
@using Microsoft.AspNetCore.Identity
    @inject SignInManager<User> SignInManager
    @inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Details";
}

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    
  <h1>Details</h1>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.Label("Id", "Потребителско ID")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt class="col-sm-2">
            @Html.Label("UserName", "Потребителско име")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt class="col-sm-2">
            @Html.Label("Email", "Имейл адрес")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-2">
            @Html.Label("PhoneNumber", "Телефонен номер")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserRole)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserRole)
        </dd>
    </dl>
  </div>
  <div>
        <td>
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        @if (Model.UserRole == BusinessLayer.Role.Athlete)
        {
            <a asp-controller="AthleteAds" asp-action="UserAds" asp-route-userId="@Model.Id" class="btn btn-primary">
                Виж обявите на този спортист
            </a>
        }
        else if (Model.UserRole == BusinessLayer.Role.Club)
        {
            <a asp-controller="ClubAds" asp-action="UserAds" asp-route-userId="@Model.Id" class="btn btn-primary">
                Виж обявите на този клуб
            </a>
        }

        </td>
  </div>

}





@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Athlete") || User.IsInRole("Athlete"))
    {
        <h1>Детайли</h1>

        <div>
            <h4>Профил</h4>
            <hr />
            <dl class="row">
@*                 <dt class="col-sm-2">
                    @Html.Label("Id", "Потребителско ID")
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Id)
                </dd>
 *@
                <dt class="col-sm-2">
                    @Html.Label("UserName", "Потребителско име")
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt class="col-sm-2">
                    @Html.Label("Email", "Имейл адрес")
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt class="col-sm-2">
                    @Html.Label("PhoneNumber", "Телефонен номер")
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UserRole)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UserRole)
                </dd>
            </dl>
        </div>
    }
}